:root {
    --saviz-dark: #121212;
    --saviz-green: #f6e58d;
    --saviz-gray: #999999;
    --saviz-white: #f5f5f5;
    --saviz-dark-2: #0a0a0a;
    --saviz-dark-03: #373737;
    --saviz-dark-04: #171717;
}
